{{import helpers}}
{{left_sidebar_enabled,right_sidebar_enabled=False,('title' in globals())}}
{{extend 'layout.html'}}
{{if 'config_dict' in globals():}}
{{if 'title' in globals():}}<h3>{{=title}}</h3>{{pass}}
<ul>{{for section_key, section_value in config_dict.iteritems():}}
    <li>
        {{=section_key}}
        <ul>{{for option_key, option_value in section_value.iteritems():}}
            <li>
                {{=option_key}}{{if request.args[1] != 'passwd':}}: {{=option_value}}
                {{elif auth.user.username == option_key:}}
                {{=A('reset password', _href=URL('user', args=['password']))}}
                {{pass}}
            </li>{{pass}}
        </ul>
    </li>{{pass}}
</ul>
{{elif 'form' in globals():}}
<p>Use this form to set or change your subversion password for one or <i>all</i> of the repositories on this server{{if request.http_host != None:}} ({{=request.http_host}}){{pass}}.</p>
<p>If you don't yet have a subversion account, setting your password will create one for you. You won't get access to the repositories until one of the repository admins adds you to either the <strong><em>contributor</em></strong> (read/write) or <strong><em>lurker</em></strong> (read-only) groups.</p>
<p>Note: Please do not use a password that you use for other applications as svn passwords are stored in plain text and can be read by human beings with console access to the server. They don't want to discover your special secrets.</p>
{{=form}}
{{else:}}
<h3>{{=helpers.get_greeting()}}</h3>
<p>This interface will help you to manage your subversion password for the svn repositories on this server.</p>
<p>{{=A('Click here', _href=URL('user', args=['password']))}} to set your password now.</p>
{{pass}}

{{block right_sidebar}}
<h6>{{=T("Repositories")}}</h6>
{{if 'repo_list' in globals():}}<ul>{{for repo in repo_list:}}
  <li>
      {{=repo}} ||
      {{=A('users', _href=URL('config', args=[repo, 'passwd']))}} ||
      {{=A('authz', _href=URL('config', args=[repo, 'authz']))}} ||
      {{=A('config', _href=URL('config', args=[repo, 'svnserve.conf']))}}
  </li>{{pass}}
</ul>{{else:}}
<p>{{=T('No repositories found.')}}</p>{{pass}}
{{end}}
